* {
    text-decoration: none;
    }

    body {
        background-color: #f1f1f1;
        height: 100vh;
      }
      
      #regForm {
        background-color: #ffffff;
        margin: 20px auto;
        font-family: Raleway;
        padding: 40px;
        width: 40%;
        min-width: 300px;
      }
      
      h1 {
        text-align: left;  
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 900;color: rgb(14, 8, 66);
      }

      p {
        margin-top: 0;
        color: rgb(129, 123, 123);
      }
      
      input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
      }
      
      /* Mark input boxes that gets an error on validation: */
      input.invalid {
        background-color: #ffdddd;
      }
      
      /* Hide all steps by default: */
      .tab {
        display: none;
      }
select {
      width: 100%;
      height: 3rem;
      border: 1px solid silver;
  }
      
      button {
        background-color: green;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
      }
      
      button:hover {
        opacity: 0.8;
      }
      
      #prevBtn {
        background-color: #bbbbbb;
      }
      
      /* Make circles that indicate the steps of the form: */
      .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
      }
      
      .step.active {
        opacity: 1;
      }
      
      /* Mark the steps that are finished and valid: */
      .step.finish {
        background-color: green;
      }


.arrow {
    text-decoration: none;
    display: flex;
    gap: .5rem;
    margin: 1.5rem 0;

 }

 /* .container {
    width: 60%;
    background: white;
    padding: 5%;
}

.container button {
    width: 100%;
    background-color: #17780d;
    border: 2px solid #17780d;
}

h1 {
    color: #17780d;
} */